.MyForm .form-control::placeholder,
.form-control ,.form-control:focus{
  color: #000 !important;
}
.MyForm .butn button {
  width: 40%;
}

@media (max-width: 875px) {
  .MyForm .butn button {
    width: 100%;
  }
}
