.sidebar-container .ps-sidebar-root {
  background-color: transparent;
  border: none;
}
.sidebar-container {
  height: 100% !important;
  background-color: rgba(14, 56, 47, 1);
}
/* .ps-menu-root {
  margin-top: 10rem;
} */
.sidebar-container .ps-sidebar-container {
  
  background-color: rgba(14, 56, 47, 1);
  color: white;
  min-height: 100% !important;
}
.ps-sidebar-container .ps-menu-icon img {
  position: absolute;
  right: 0px;
  background-color: #ef9b28;
  color: white;
  border-radius: 4px;
  font-size: 24px;
  height: 33px;
  top: 0px;
}
.sidebar-container
  .ps-sidebar-container
  ul
  li:not(:first-child)
  .ps-menu-button:hover {
  color: white;
  background-color: rgba(239, 155, 40, 0.3);
}
.sidebar-container
  .ps-sidebar-container
  ul
  li:first-child
  .ps-menu-button:hover {
  background-color: transparent;
}
.sidebar-container .ps-sidebar-container ul li:first-child .ps-menu-button {
  height: 0;
}
.arrow {
  position: absolute;
  right: 0;
  background-color: #ef9b28;
  color: white;
  border-radius: 4px;
  font-size: 24px;
  height: 33px;
  top: 0;
}

/* sidebar style */
